:root{
  font-family: "Open Sans", sans-serif;
  line-height: 136%;
  color: #333;
}

body{
  background-color: #F5F4F0;
}

#conteiner{
  box-sizing: border-box;
  width: 1120px;
  padding: 80px;
  margin: 88px auto;
}

.subt-title{
  color: #E1624F;
  text-transform: uppercase;
  font-size: 16px;
}

h1{
  font-size: 36px;
}

h2{
  font-size: 32px;
}

h3{
  font-size: 28px;
}

img{
  border-radius: 28px;
}

h1, h2, h3{
  color: #1B1B1B;
}

.accent-blue{
  color: #0C51A7;
}

.accent-purple{
  color: #591B98;
}

.accent-pink{
  color: #E5245E;
}

.accent-orange{
  color: #E95E10;
}
