*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  font-family: "Open Sans", sans-serif;
  line-height: 136%;
  color: #333;
}

body{
  background-color: #F5F4F0;
}

main{
  box-sizing: border-box;
  width: 1120px;
  margin: 88px auto 65px;
}

#title p{
  margin-bottom: 8px;
}


.subt-title{
  color: #E1624F;
  text-transform: uppercase;
  font-size: 16px;
}

h1, h2, h3{
  color: #1B1B1B;
}

img{
  width: 100%;
  border-radius: 28px;
}

h1{
  font-size: 36px;
  margin-bottom: 40px;
}

#image img{
  margin-bottom: 24px;
}

#image p{
  padding-bottom: 40px;
  border-bottom: 1px solid #aaa;
  font-style: italic;
  text-align: center;
}

#list p{
  margin-top: 64px;
  margin-bottom: 2px;
}

#list h2{
  font-size: 32px;
  margin-bottom: 8px;
}

#list h2 + p{
  margin-bottom: 64px;
}

#list img{
  margin-bottom: 20px;
}

#list h3{
  font-size: 28px;
  margin-bottom: 4px;
}

ul li::marker{
 color: black;
}

ul{
  padding-left: 22px;
}

.accent-blue{
  color: #0C51A7;
  margin-bottom: 48px;
}

.accent-purple{
  color: #591B98;
}

.accent-pink{
  color: #E5245E;
}

.accent-orange{
  color: #E95E10;
  margin-bottom: 40px;
  border: #D9D9D9;
}

#descrition::before{
  content: '';
  width: 100%;
  height: 2px;
  display: block;
  background-color: #aaaaaa;
  margin-top: 40px;
  margin-bottom: 40px;
}

#descrition p{
  text-align: center;
}

footer p + p::before{
  content: '';
  height: 16px;
  width: 16px;
  display: inline-block;
  background: no-repeat url("data:image/svg+xml,%3Csvg width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 3.87524C14 8.25024 7.51312 11.7915 7.23687 11.9377C7.16406 11.9769 7.08268 11.9974 7 11.9974C6.91732 11.9974 6.83594 11.9769 6.76312 11.9377C6.48688 11.7915 0 8.25024 0 3.87524C0.00115796 2.84789 0.409788 1.86294 1.13624 1.13648C1.86269 0.410032 2.84764 0.0014021 3.875 0.000244141C5.16563 0.000244141 6.29562 0.555244 7 1.49337C7.70438 0.555244 8.83438 0.000244141 10.125 0.000244141C11.1524 0.0014021 12.1373 0.410032 12.8638 1.13648C13.5902 1.86294 13.9988 2.84789 14 3.87524Z' fill='%23333333'/%3E%3C/svg%3E%0A");
  margin: 0 2px;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 48px;
}

footer p{
  display: flex;
  align-items: center;
}